.links {
    color : black;
    font-family: monospace;
    text-decoration: none;
  
    font-weight: 380;
    line-height: 1.75rem;
    letter-spacing: -0.055em;
    opacity: 1;
    --tw-space-x-reverse: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  

  li a:hover{
    background-color: none;
    text-decoration: underline;
    text-decoration: solid underline black 3px;
    font-weight: 450;
  
  }
  

.app__navbar-smallscreen_overlay{
  position: fixed; 
  top: 0;
  left:0vw;
  width: 100vw;
  height: 100vh;
  transition: 0.5s ease;
  z-index: 5;
  background: whitesmoke;
  overflow-y: hidden;
  display: flex;
  justify-content: center;


}

.app__navbar-smallscreen_links{
  margin-top: -30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border:solid red */
}

.app__navbar-smallscreen_links li {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.background {

  background-color:#ebddc96c;
}

/* underline{
  text-underline-offset: 8px;
} */

@media screen and (min-width: 1024px) {
  
.blogsize{
  font-size: 9rem;
}
}
.text-stroke {
  -webkit-text-stroke: 2px white;
}

.Header{

  width: 100vw;
}

.background-layer {
  position: absolute;
  inset: 0;
  background-image: url('./images/ig4.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}















