.links {
    color : black;
    font-family: monospace;
    text-decoration: none;
  
    font-weight: 380;
    line-height: 1.75rem;
    letter-spacing: -0.055em;
    opacity: 1;
    --tw-space-x-reverse: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: white; */
  }
  

  li a:hover{
    background-color: none;
    text-decoration: underline;
    text-decoration: solid underline black 3px;
    font-weight: 450;
  
  }
  

.app__navbar-smallscreen_overlay{
  position: fixed; 
  top: 0;
  left:0vw;
  width: 100vw;
  height: 100vh;
  transition: 0.5s ease;
  z-index: 5;
  background: whitesmoke;
  overflow-y: hidden;
  /* border: solid green; */
  display: flex;
  justify-content: center;


}

.app__navbar-smallscreen_links{
  list-style: none;
  display: flex;
  flex-direction: column;
  /* margin-top: 120px; */
  justify-content: space-evenly;
  /* height:70vh; */
  
}

.app__navbar-smallscreen_links li {
  cursor: pointer;
  display: flex;
  justify-content: center;
}


@media screen and (min-width: 480px) {

  .background {

    background-color:#ebddc96c;
  }

}

@media screen and (min-width: 1024px) {
  
.blogsize{
  font-size: 9rem;
}
}
.text-stroke {
  -webkit-text-stroke: 2px white;
}

.Header{

  /* display:flex;
  align-items:center;
  justify-content: flex-center; */
  /* height:90vh; */
  width: 100vw;
}

/* Background layer */
.background-layer {
  position: absolute;
  inset: 0;
  background-image: url('./images/ig4.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}















