
.Gallery_components_design {

    scroll-margin-top: 10rem;
}

.Gallery_Down_design {
    display: flex;
    flex-direction: row;
}

.app__gallery {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    /* overflow-y: auto; */
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: max-content;
}

.app__gallery-images {

    scroll-snap-align: start;
}

.app__gallery-images img {

    object-fit: cover;
    opacity: 1;
    transition: .5s ease;

}
.app__gallery::-webkit-scrollbar {
    display: none;
}
.app__gallery-images:hover img {
    opacity: 1;
}

.app__gallery-images:hover .gallery__image-icon {
    opacity: 1;
}

.app__gallery_arrows {


    display: flex;
}

.gallery_arrow-icon {
    color: var(--color-golden);
    font-size: 3rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 5px;
    margin: 0.7rem;
}

.gallery_arrow-icon:hover {
    opacity: .55;
}

@media screen and (max-width: 768px) {
    .app__gallery-images:hover img {
        opacity:1;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .app__gallery-images {

        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 768px) {

    .app__gallery_arrows {

        display: none;

    }

}

